@charset 'utf-8';

$breakpoints: (
  "sm": "screen and (max-width: 374px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 900px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

$primary: #ff953a;
$darkgray: #222;
$midgray: #414141;
$gray: #888;
$white: #fff;
$side: 6vw;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints,$breakpoint)} {
    @content;
  }
}

html {
  font-size: 100px;
  height: 100%;
  @include mq() {
    font-size: 7.32vw;
  }
}
body {
  font-family: sans-serif;
  font-size: 0.16rem;
  color: $darkgray;
  line-height: 1.8;
  height: 100%;
  overflow-y: scroll;
}

/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}

.l-container {
  padding: 0.68rem $side;
}

.l-hero {
  background: url(../img/cafe.jpg) center / cover $darkgray;
  justify-content: center;
  align-items: center;
  height: 100%;
  @include mq() {
    justify-content: flex-end;
  }
}

.l-menu {
  @include mq() {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.l-news {
  background: url(../img/edge.png) repeat-x, url(../img/texture.jpg) repeat;
  @include mq() {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.l-hours {
  background: url(../img/shop.jpg) center / cover;
  color: $white;
  text-align: center;
}

.l-info {
  background: $primary;
  text-align: center;
}

.l-footer {
  background: $darkgray;
  height: 89px;
  color: $white;
  justify-content: center;
  align-items: center;
}

.c-flex {
  display: flex;
}

.c-section {
  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 0.26rem;
    letter-spacing: 0.179em;
    line-height: 1;
    @include mq() {
      font-size: 0.42rem;
    }
    &::after {
      content: "";
      display: block;
      width: 0.56rem;
      height: 4px;
      margin-top: 0.17rem;
      margin-bottom: 0.1rem;
      background-color: $primary;
    }
  }
  &__lead {
    font-size: 0.13rem;
    @include mq() {
      font-size: 0.2rem;
    }
  }
}

.p-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding-left: $side;
  padding-right: $side;
  &__site {
    &-img {
      width: 1.25rem;
      @include mq() {
        width: 2.26rem;
      }
    }
  }
  &__nav {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: $white;
    transition: left 0.5s ease-in-out;
    @include mq() {
      position: relative;
      left: auto;
      width: auto;
      height: auto;
      background-color: transparent;
    }
    &-btn {
      box-sizing: content-box;
      padding: 0;
      outline: none;
      border: none;
      background: none;
      width: 29px;
      height: 20px;
      cursor: pointer;
      color: $white;
      &::before,
      &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: currentColor;
        transform: translateY(10px);
        transition: 0.3s ease-in-out;
      }
      &::before {
        transform: translateY(-10px);
        box-shadow: 0 10px currentColor;
      }
      @include mq() {
        display: none;
      }
    }
    &-list {
      margin-bottom: 10vh;
      list-style: none;
      @include mq() {
        display: flex;
        margin-bottom: 0;
      }
    }
    &-item {
      &:not(:first-of-type) {
        margin-top: 20px;
        @include mq() {
          margin-top: 0;
          margin-left: 0.55rem;
        }
      }
    }
  }
}

.open {
  height: 100%;
  overflow: hidden;
  .p-header {
    margin-bottom: -100px;
    &__nav {
      left: 0;
      &-btn {
        z-index: 1000;
        &::before {
          transform: rotate(-45deg);
          box-shadow: none;
        }
        &::after {
          transform: rotate(45deg);
          box-shadow: none;
        }
      }
    }
  }
}

.p-hero {
  position: relative;
  &::after {
    content: url(../img/arrow.svg);
    display: block;
    width: 0.16rem;
    padding: 0.18rem 0.15rem 0.1rem;
    border-radius: 50% 50% 0 0;
    background-color: $white;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include mq() {
      width: 0.31rem;
      padding: 0.35rem 0.31rem 0.16rem;
    }
  }
  &__title {
    width: 50%;
    text-align: center;
  }
}

.p-menu {
  &__inner {
    @include mq() {
      position: relative;
    }
  }
  &__heading {
    @include mq() {
      position: absolute;
      top: 0.13rem;
      left: 0;
    }
  }
  &__title {
    &::after {
      @include mq() {
        width: 0.85rem;
        margin-top: 0.23rem;
        margin-bottom: 0.14rem;
      }
    }
  }
  &__item {
    margin-top: 0.64rem;
    flex-direction: column;
    @include mq() {
      margin-top: 1rem;
      flex-direction: row;
    }
  }
  &__text {
    position: relative;
    z-index: 2;
    width: 76vw;
    @include mq() {
      flex: 0 0 3.12rem;
    }
    &-title {
      font-size: 0.16rem;
      color: $midgray;
      line-height: 1;
      justify-content: flex-start;
      align-items: center;
      @include mq() {
        font-size: 0.25rem;
      }
      &::before {
        content: url(../img/mark.svg);
        display: block;
        width: 0.4rem;
        margin-right: 0.1rem;
        @include mq() {
          width: 0.48rem;
        }
      }
    }
    &-lead {
      font-size: 0.14rem;
      margin-top: 0.19rem;
      @include mq() {
        font-size: 0.16rem;
        margin-top: 0.22rem;
      }
    }
  }
  &__photo {
    position: relative;
    margin: 0.16rem calc(#{$side} * -1) 0;
    align-items: flex-end;
    @include mq() {
      margin: 0 0 0 0.49rem;
      flex: 1 1 auto;
    }
    img {
      width: 100%;
      max-height: 2rem;
      object-fit: cover;
      @include mq() {
        max-height: none;
      }
    }
  }
}
.p-menu__item {
  &.-cafe {
    @include mq() {
      margin-top: 0;
      margin-left: calc(#{$side} * 2);
      margin-right: calc(#{$side} * -1);
    }
    .p-menu {
      &__photo {
        &::after {
          content: url(../img/cafe.svg);
          display: block;
          width: 28vw;
          position: absolute;
          top: -12vw;
          right: 12vw;
          opacity: 0.8;
          @include mq() {
            width: 2rem;
            top: auto;
            right: auto;
            bottom: 0.12rem;
            left: -0.85rem;
          }
        }
      }
      &__photo-fig {
        &-1 {
          flex: 1 1 auto;
          margin-right: -0.47rem;
          margin-bottom: 0.38rem;
          @include mq() {
            margin-right: -0.88rem;
            margin-bottom: 1.11rem;
          }
          img {
            @include mq() {
              height: 3.3rem;
            }
          }
        }
        &-2 {
          flex: 0 0 43vw;
          @include mq() {
            flex: 0 0 auto;
            width: calc(#{$side} * 3 + 0.88rem);
          }
          img {
            height: 1.56rem;
            @include mq() {
              height: 3rem;
            }
          }
        }
      }
      &__text {
        @include mq() {
          align-self: flex-end;
        }
        &-title {
          @include mq() {
            margin-left: -0.58rem;
          }
        }
        &-lead {
          @include mq() {
            margin-bottom: 0.73rem;
          }
        }
      }
    }
  }
  &.-plate {
    @include mq() {
      flex-direction: row-reverse;
      margin-left: calc(#{$side} * -2);
      margin-right: calc(#{$side} * 1);
    }
    .p-menu {
      &__text {
        margin-left: auto;
        @include mq() {
          margin-right: 0;
          margin-left: 0.49rem;
        }
        &-title {
          flex-direction: row-reverse;
          @include mq() {
            margin-right: -0.58rem;
          }
          &::before {
            margin-left: 0.17rem;
            margin-right: 0;
          }
        }
      }
      &__photo {
        @include mq() {
          display: block;
        }
        &::after {
          content: url(../img/plate.svg);
          display: block;
          width: 30vw;
          position: absolute;
          top: -14vw;
          left: 1.3vw;
          opacity: 0.8;
          @include mq() {
            width: 2rem;
            top: 1.21rem;
            right: -1.48rem;
            left: auto;
          }
        }
      }
      &__photo-fig {
        &-1 {
          flex: 0 0 85.6vw;
          img {
            @include mq() {
              height: 3.95rem;
            }
          }
        }
      }
    }
  }
  &.-sweet {
    @include mq() {
      margin-left: calc(#{$side} * 2);
      margin-right: calc(#{$side} * -1);
    }
    .p-menu {
      &__photo {
        &::after {
          content: url(../img/sweet.svg);
          display: block;
          width: 32vw;
          position: absolute;
          top: -12vw;
          right: 9vw;
          opacity: 0.8;
          @include mq() {
            width: 2.27rem;
            top: 1.11rem;
            left: -1.68rem;
            right: auto;
          }
        }
      }
      &__photo-fig {
        &-1 {
          flex: 1 1 auto;
          margin-right: -0.26rem;
          margin-bottom: 0.38rem;
          @include mq() {
            margin: 0;
          }
          img {
            height: 2rem;
            @include mq() {
              height: 3.04rem;
            }
          }
        }
        &-2 {
          flex: 0 0 56.2vw;
          @include mq() {
            flex: 0 0 4.69rem;
          }
          img {
            height: 2rem;
            @include mq() {
              height: 3.04rem;
            }
          }
        }
      }
      &__text-title {
        @include mq() {
          margin-left: -0.58rem;
        }
      }
    }
  }
}

.p-news {
  &__title {
    &::after {
      @include mq() {
        width: 0.85rem;
        margin-top: 0.23rem;
        margin-bottom: 0.14rem;
      }
    }
  }
  &__list {
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
    font-size: 0.14rem;
    flex-direction: column;
    @include mq() {
      margin-left: calc(#{$side} * 2);
      margin-right: calc(#{$side} * 2);
      font-size: 0.16rem;
      flex-direction: row;
      flex-wrap: wrap;

    }
  }
  &__date {
    font-weight: bold;
    color: $gray;
    margin-bottom: 0.03rem;
    @include mq() {
      flex: 0 0 1.57rem;
    }
  }
  &__desc {
    margin-left: 0;
    &:not(:last-of-type) {
      margin-bottom: 0.35rem;
      @include mq() {
        margin-bottom: 0.08rem;
      }
    }
    @include mq() {
      flex: 0 0 auto;
      width: calc(100% - 1.57rem);
    }
  }
  &__more {
    font-weight: bold;
    color: $primary;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.16rem;
    border-top: 0.12rem solid currentColor;
    text-align: right;
    &::after {
      content: url(../img/arrow.svg);
      display: block;
      margin-left: 0.11rem;
      width: 0.18rem;
      transform: rotate(-90deg);
    }
    @include mq() {
      margin-left: calc(#{$side} * 2);
      margin-right: calc(#{$side} * 2);
    }
  }
}

.p-hours {
  &__title {
    letter-spacing: 0;
    @include mq() {
      font-size: 0.32rem;
    }
    &::after {
      width: 0.28rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.p-info {
  &__title {
    width: 2.44rem;
    margin: auto;
  }
  &__sub-title {
    color: $midgray;
    font-weight: bold;
    letter-spacing: 0.516em;
  }
}

.u-sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
